@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --fontExtraLarge: clamp(3.5rem, 4vw, 4.3rem);
  --fontLarge: clamp(2.3rem, 3.5vw, 4rem);
  --fontMedium: clamp(2rem, 3.2vw, 3.5rem);
  --fontMedium2: clamp(1.1rem, 1.5vw, 1.7rem);
  --fontSmall: clamp(1rem, 1.5vw, 2rem);

  --bodybg: rgb(208, 211, 236);
  --radialCircleColor: #ffffff;
  --radialPrimaryColor: #2f67a3;
  --themeTextColor: #01060f;
  --inputBorder: rgba(6, 11, 54, 0.568);
  --glassBackground: #ffffff1f;
  --textLight: #cecdcd;
  --temperatureAccent: #030c2d;

  --blur: blur(90px);

  --shadow: 2px 2px 10px #00000027;
  --shadowMedium: 5px 5px 15px #00000027;
  --shadowText: 2px 2px 5px rgba(0, 0, 0, 0.61);
  --drop-shadow: rgba(0, 0, 0, 0.397);
}
[data-theme="dark"] {
  --radialCircleColor: #00264e;
  --radialPrimaryColor: #01060f;
  --themeTextColor: #ecebfa;
  --inputBorder: rgb(160, 152, 152);
  --glassBackground: #ffffff1a;
  --temperatureAccent: #1444f3;

  --blur: blur(50px);

  --drop-shadow: rgba(255, 255, 255, 0.397);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  align-content: center;
  font-family: "Merriweather", serif;
  background-color: var(--bodybg);
  overflow-x: hidden;
}
button {
  cursor: pointer;
}
input,
button {
  background: none;
  border: none;
  outline: none;
  font-size: 1rem;
}
.main-container {
  background: radial-gradient(
      circle at 10% 20%,
      var(--radialCircleColor) 0,
      var(--radialPrimaryColor) 20%
    ),
    radial-gradient(
      circle at 80% 80%,
      var(--radialCircleColor) 0,
      var(--radialPrimaryColor) 20%
    );
  color: white;
  min-height: min(100vh, 800px);
  width: min(1400px, 100%);
  margin: 0 auto;
  display: grid;
  text-align: center;
  position: relative;
  padding: 1.5em 1em;
  overflow: hidden;
}

.main-container::before {
  content: "";
  position: absolute;
  inset: 0;
  backdrop-filter: var(--blur);
  background: linear-gradient(to top, #1212129a 6%, transparent);
  z-index: 9;
}
.main-container::after {
  content: "";
  position: absolute;
  bottom: 10%;
  right: 15%;
  background-color: var(--radialCircleColor);
  border-radius: 50%;
  width: 200px;
  aspect-ratio: 1;
  z-index: 1;
}
@media screen and (min-width: 1400px) {
  .main-container {
    border-radius: 20px;
  }
}

.weather-app-container {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  z-index: 999;
}
header {
  position: relative;
  width: min(100%, 500px);
  margin: 0 auto;
}
.tittle {
  font-size: var(--fontLarge);
  text-shadow: var(--shadowText);
}

.toggle-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: grid;
  place-items: center;
  background-color: var(--glassBackground);
  border: 1px solid rgba(255, 255, 255, 0.144);
  border-radius: 50%;
  padding: 0.2em;
  box-shadow: var(--shadow);
}
.weather-container-wrapper {
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-rows: 100px auto;
  justify-items: center;
  padding-top: 2em;
}
form {
  font-size: 1.5rem;
  width: min(360px, 100%);
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4em 0.6em;
  border-radius: 10px;
  background-color: var(--glassBackground);
  border: 1px solid rgba(255, 255, 255, 0.226);
  box-shadow: var(--shadow);
}
.search-btn {
  padding-inline: 0.7em 0;
  color: var(--themeTextColor);
  display: grid;
  place-items: center;
}
.search {
  flex-grow: 1;
  color: var(--themeTextColor);
  border-right: 2px solid var(--inputBorder);
  font-size: var(--fontMedium2);
}
.search::placeholder {
  color: var(--inputBorder);
}
/* .serach::-webkit-search-cancel-button {
  background: red;
} */
.weather-display-container {
  border: 1px solid #ffffff38;
  border-radius: 10px;
  box-shadow: var(--shadowMedium), inset var(--shadow);
  width: min(320px, 100%);
  display: grid;
  align-items: start;
  gap: 1em;
  padding: 1rem;
}
.city-name {
  align-self: center;
  font-size: var(--fontMedium);
  text-shadow: var(--shadowText);
}
.time-date-display-container {
  background-color: var(--glassBackground);
  border: 1px solid rgba(255, 255, 255, 0.205);
  border-radius: 6px;
  padding: 0.5em 2em;
  box-shadow: var(--shadow), inset var(--shadow);
  margin: 0 auto;
}
.display-temperature img {
  filter: drop-shadow(2px 2px 10px var(--drop-shadow));
  width: 80px;
  aspect-ratio: 1;
}
@media screen and (max-width: 550px) {
  .weather-container-wrapper {
    grid-template-rows: auto auto;
    gap: 0.5em;
    padding-top: 1em;
  }
  .tittle {
    text-align: left;
  }
  .display-temperature {
    margin: 0;
  }
  .temperature {
    line-height: 0.8;
  }
}
.temperature {
  font-size: var(--fontExtraLarge);
  margin-bottom: 5px;
  color: var(--temperatureAccent);
}
@media screen and (min-width: 550px) {
  .display-temperature {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
  .temperature {
    margin: 0;
    line-height: 0.9;
  }
}

.time {
  font-size: var(--fontMedium);
}
.time span {
  font-size: var(--fontSmall);
  margin-left: 5px;
  font-weight: normal;
}
.date {
  font-size: var(--fontSmall);
}
.description,
.date {
  letter-spacing: 0.7px;
  color: var(--textLight);
}
.description {
  font-size: var(--fontMedium2);
  color: var(--temperatureAccent);
  font-weight: 600;
}

.loading-container {
  min-height: 100px;
}
.error-container,
.loading-container {
  display: grid;
  place-items: center;
  place-content: center;
  gap: 1em;
}
.error-container h1 {
  font-size: var(--fontMedium);
}
.error-img-container {
  width: 80px;
}
.error-img-container img {
  max-width: 100%;
}
.error-container p {
  color: var(--textLight);
  font-size: var(--fontMedium2);
}
